# =========================
# IDE (Eclipse / VSCode)
# =========================
.project
.classpath
.settings/
.vscode/
.idea/
*.iml

# =========================
# Build / Output
# =========================
/bin/
/build/
/target/
*.jar
*.war
surefire-reports/

# =========================
# Logs
# =========================
*.log

# =========================
# Temp / Backup
# =========================
*.tmp
*.bak

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secret
# =========================
.env

# =========================
# properties
# =========================
db.properties

# =========================
# Frontend (optional)
# =========================
node_modules/
