@charset "UTF-8";

/*	コンテキストパスの変数
=====================*/
:root {
    --font-path: '/myapp/fonts';
}

/*	color
=====================*/
html {
	--color-main: #0056b3;
	--color-accent: #FF5733;
	--color--light_gray: #F8F9FA;
	--color--light_blue: #4b5563;
}

/*	Google Fonts（NotoSerifJP）
=====================*/
/* Regular */
@font-face {
    font-family: 'NotoSerifJP';
    src: url(var(--font-path)/NotoSerifJP-Regular.woff2) format('woff2'),
         url(var(--font-path)/NotoSerifJP-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'NotoSerifJP';
    src: url(var(--font-path)/NotoSerifJP-Bold.woff2) format('woff2'),
         url(var(--font-path)/NotoSerifJP-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
button {
	font-family:
		'NotoSerifJP',
		'Hiragino Mincho ProN',
		'Yu Mincho',
		'MS Mincho',
		serif;

	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
}

p {
	font-size: 1rem;
}

/*	margin-top
=====================*/
.mt-0 {
	margin-top: 0;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

/*	border
=====================*/
.border__2-main-color {
	border: 2px solid #0056b3;
}

/*	background
=====================*/
.bg-color__color-main {
	background: var(--color-main);
}

.bg-color__light-gray-color {
	background: var(--color--light_gray);
}

.bg-color__white-color {
	background: white;
}

/*	font-color
=====================*/
.font-color__white {
	color: #fff;
}

.font-color__orange {
	color: var(--color-accent);
}

/* header
===================== */
.header {
	position: sticky;
	top: 0;
	width: 100%;
	background: #00264d;
	display: flex;
	align-items: center;
	padding: 0 20px;
	z-index: 1000;
	box-sizing: border-box;
}

.header .logo {
	flex: 0 0 auto;
}

.header .logo img {
	height: 70px;
	width: auto;
	max-width: none;
	display: block;
}

.header a {
	text-decoration: none;
	color: #ffffff;
}

.header a:hover {
	text-decoration: underline;
}

.account-name {
	font-weight: 600;
	color: #555;
}

.header a,
.header .account-name {
	margin-left: 20px;
}


/* wrap, inner
===================== */
.wrap {
	box-sizing: border-box;
	width: min(800px, 92%);
	margin: 20px auto;
}

.inner {
	padding: 50px 30px;
	border-radius: 20px;
	color: #111;
}

/* heading
===================== */
.header--1 {
	text-align: center;
	margin: 0;
}

/* card
===================== */
.card {
	padding: 24px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(15, 15, 30, 0.06);
}

.pair-list {
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 24px;
	row-gap: 12px;
	align-items: start;
}

.pair-list dt {
	max-width: 250px;
	margin: 0;
	padding-right: 8px;
	text-align: right;
	font-weight: 600;
	font-size: 0.95rem;
	color: #333;
	user-select: none;
}

.pair-list dd {
	margin: 0;
	font-size: 0.95rem;
	color: #555;
}

/* btn
===================== */
.btn-wrap {
	display: flex;
	justify-content: center;
	gap: 45px;
}

.btn {
	border: none;
	border-radius: 100vh;
	font-size: 1rem;
	cursor: pointer;
	transition: all .25s;
	user-select: none;
}

.btn01 {
	padding: 12px 70px;
}

a.btn {
	text-decoration: none;
}

.btn:hover {
	opacity: .8;
}